<h2>Search Results </h2>

<h3><% facade.food_count %> Results Found </h3>
<section class='food-list'>
<ul><% facade.foods.each do |food| %>>
  <li class='food-list-food'> NDB Number: <%= food.ndb_number %></li>
  <li class='food-list-food'> Food Name: <%= food.food_name %></li>
  <li class='food-list-food'> Food Group: <%= food.food_group %></li>
  <li class='food-list-food'> Data Source: <%= food.data_source %></li>
  <li class='food-list-food'> Manufacturer: <%= food.manufacturer %></li>
  </section>
<% end %>
  
